<nav class="sticky top-0 z-50 text-white" style="background-color: rgb(157, 36, 73);">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" >
      <div class="flex items-center justify-between h-16">
        <!-- Logo -->
        <div class="cursor-pointer flex-shrink-0">
          <a>
            <img 
              src="https://www.lasallep.edu.mx/ulsap/oferta-educativa/img/chevron.png" 
              alt="Logo Universidad La Salle" 
              class="h-10"
            />
          </a>
        </div>
        <div class="hidden md:flex space-x-4">
          @if(isLogged) {

              @if (isAdmin==true) {
                <a class="nav-link hover:bg-gradient-to-t hover:bg-from-[#9d2449] hover:to-red-900 hover:rounded-t-2xl px-3 py-2 rounded-md" routerLinkActive="border" routerLink="/registropruebas">Registro Pruebas</a>
              }
              @if (isAdmin==false) {
              <a class="nav-link hover:bg-gradient-to-t hover:bg-from-[#9d2449] hover:to-red-900 hover:rounded-t-2xl px-3 py-2 " routerLinkActive="border-b-2" routerLink="/homeuser">Inicio</a>
              <a class="nav-link hover:bg-gradient-to-t hover:bg-from-[#9d2449] hover:to-red-900 hover:rounded-t-2xl px-3 py-2 " routerLinkActive="border-b-2" routerLink="/home">Gestos</a>
              }
              
            <a class="nav-link hover:bg-red-900 hover:rounded-full hover:shadow-2xl ml-2 text-black p-2 hover:cursor-pointer" (click)="logout()"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg></a>

          }
        </div>
            <!-- Mobile Menu Button -->
          <div class="md:hidden">
            <button class="text-white focus:outline-none" (click)="toggleMobileMenu()">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
              </svg>
            </button>
          </div>
        </div>

        <!-- Mobile Menu -->
        <div *ngIf="mobileMenuOpen" class="md:hidden mt-2 space-y-2">
          <ng-container *ngIf="isLogged">
            <ng-container *ngIf="isAdmin">
              <a class="block nav-link hover:bg-red-300 px-3 py-2 rounded-md" routerLinkActive="border" routerLink="/registropruebas">Registro Pruebas</a>
            </ng-container>
            <ng-container *ngIf="!isAdmin">
              <a class="block nav-link hover:bg-red-300 px-3 py-2 rounded-md" routerLinkActive="border" routerLink="/homeuser">Home</a>
              <a class="block nav-link hover:bg-red-300 px-3 py-2 rounded-md" routerLinkActive="border" routerLink="/home">Gestos</a>
            </ng-container>
            <a class="block nav-link rounded-full p-2 hover:cursor-pointer" (click)="logout()"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg></a>
          </ng-container>
        </div>
      </div>


    

  </nav>