<div class="grid grid-cols-1 md:grid-cols-2 bg-gradient-to-l from-[#9d2449] to-95%">
  <div class="min-h-screen flex items-center justify-center">
    <div class="p-8 w-full max-w-sm">
      <div class="flex flex-col items-center py-6">
        <svg class="mb-4" xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#9d2449">
          <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
        </svg>
        <h2 class="text-4xl font-black text-center text-[#9d2449] mb-6">Iniciar Sesión</h2>
      </div>
      <form [formGroup]="formLogin" (ngSubmit)="login()">
        <div class="mb-4">
          <div class="flex items-center">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#9d2449">
              <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
            </svg>
            <label class="block text-sm font-medium text-[#9d2449]">Correo</label>
          </div>
          <input type="email" formControlName="email" class="w-full px-4 py-2 border text-gray-600 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#9d2449]" placeholder="ejemplo@correo.com">
          <div *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched" class="font-bold text-red-500 text-sm">
            Ingresa un correo válido.
          </div>
        </div>
        <div class="mb-6">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#9d2449">
              <path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm0-80h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80ZM240-160v-400 400Z" />
            </svg>
            <label class="block text-sm font-medium text-[#9d2449] mb-1">Contraseña</label>
          </div>
          <input type="password" formControlName="password" class="w-full px-4 py-2 border text-gray-600 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#9d2449]" placeholder="********">
          <div *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched" class="font-bold text-red-500 text-sm">
            La contraseña es obligatoria.
          </div>
        </div>
        <button type="submit" class="w-full bg-[#9d2449] text-white py-2 rounded-md hover:bg-[#851b3a] transition">
          Entrar
        </button>
      </form>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center text-white p-6">
    <h2 class="text-7xl font-black my-4 md:my-32">Prueba de la vida</h2>
    <p class="text-lg font-black md:text-xl font-regular my-4 md:my-10">LUDWIG-ASUS | Universidad La Salle Oaxaca</p>
  </div>
</div>
